@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&family=Poppins:wght@300;500;700&display=swap');

:root {
  --primary-color: #6E00FF;
  --secondary-color: #6700EE;
  --pink-color: #EC51F7;
  --logo: 'Amatic SC', cursive;
  --menu: 'Josefin Sans', sans-serif;
  --general: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth; 
}

a{
  text-decoration: none;
  color: unset;
}

li{
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: #7F8487;
  border-radius: 25px;
}